<%if user_signed_in?%>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Authentication Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home" id="home" remote="true">Home</a></li>
      <li><%= link_to "Edit Profile", "/home/edit_profile", remote: true, id: 'edit_profile' %></li>
 	  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
</nav>
<%end%>